/*Topo*/
.main_header {
  width: 100%;
  background-color: #000000;

  /* position: fixed;
          z-index: 1; */
}

.main_header .main_header_content {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.main_header .main_header_content .logo img {
  flex-basis: 330px;
  padding: 20px;
  width: 150px;
}

.main_header .main_header_content .main_header_content_menu {
  flex-basis: calc(100% - 330px);
  display: flex;
  justify-content: flex-end;
}

.main_header_content_menu ul {
  display: flex;
  align-items: stretch;
}

.main_header_content_menu ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

.main_header_content_menu ul li a {
  padding: 0 26px;
  display: flex;
  align-items: center;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
}

.main_header_content_menu ul li a:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}
/*FIM - TOPO*/

.imp {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  width: 200px;
  font-size: 1em;
  margin-left: 30%;
}

.imp2 {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  width: 200px;
  font-size: 1em;
  margin-left: 30%;
  color: #fff;
}

.btn {
  background-color: red;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 30%;
  width: 200px;
}

.fund {
  border: 1px solid #000;
  width: 30%;
  margin-left: 35%;
  background-color: #000;
  border-radius: 10px;
  box-shadow: red;
  padding: 5px;
}

.fundbor {
  background-color: #f2f2f2;
}
